# dados
dados/

# Mas NÃO ignora a pasta analiticos
!dados/analiticos/
!dados/analiticos/*.parquet
mlruns/

# notebooks pesados
*.ipynb_checkpoints
notebooks/dashboard/

# ambiente
venv/
.env

# python
__pycache__/
*.pyc

# sistema
.DS_Store